<H1><center>LABORATORIO N° 01: UTILIZANDO EXPRESIONES DE TABLA

<h2><b>Objetivo:</b></h2>
* Aplicar los conocimientos asimilados sobre Expresiones de tabla regulares

1. <b><u>Utilizando Vistas</u></b>

1.1. Accediendo a la base de datos TSQL

In [2]:
USE TSQL;
GO

1.2. Escribir una sentencia SELECT para devolver las columnas productid, productname, supplierid, unitprice y
discontinued de la tabla Production.Products. Filtrar los resultados para incluir solo los productos que pertenezcana a la categoría Beverages (categoryid = 1)

In [3]:
SELECT productid, productname, supplierid, unitprice, discontinued
FROM Production.Products
WHERE categoryid = 1;

productid,productname,supplierid,unitprice,discontinued
1,Product HHYDP,1,"18,00",0
2,Product RECZE,1,"19,00",0
24,Product QOGNU,10,"4,50",1
34,Product SWNJY,16,"14,00",0
35,Product NEVTJ,16,"18,00",0
38,Product QDOMO,18,"263,50",0
39,Product LSOFL,18,"18,00",0
43,Product ZZZHR,20,"46,00",0
67,Product XLXQF,16,"14,00",0
70,Product TOONT,7,"15,00",0
75,Product BWRLG,12,"7,75",0
76,Product JYGFE,23,"18,00",0

1.3. Modificar al sentencia T-SQL para incluir el siguiente código. Colocar esta sentencia antes de la clausula SELECT:

In [26]:
CREATE VIEW Production.ProductsBeverages AS
SELECT productid, productname, supplierid, unitprice, discontinued
FROM Production.Products
WHERE categoryid = 1;

1.4. Escribir una sentencia SELECT para devolver las columnas productid y productname de la vista Production.ProductsBeverages. Filtrar los resultados para incluir solo productos donde supplierid = 1

In [27]:
SELECT productid, productname
FROM Production.ProductsBeverages
WHERE supplierid = 1;

productid,productname
1,Product HHYDP
2,Product RECZE

1.5. El departamento de TI ha escrito una sentencia T-SQL que añade una columna calculada a la vista.

In [30]:
ALTER VIEW Production.ProductsBeverages AS
SELECT
    productid, 
    productname, 
    supplierid, 
    unitprice, 
    discontinued,
    CASE 
        WHEN unitprice > 100 THEN N'high' 
        ELSE N'normal' 
    END AS pricetype
FROM Production.Products
WHERE categoryid = 1;

1.6. Aplicar los cambios necesario para que la sentencia T-SQL statement se ejecute correctamente.

In [31]:
ALTER VIEW Production.ProductsBeverages AS
SELECT
    productid, 
    productname, 
    supplierid, 
    unitprice, 
    discontinued,
    CASE 
        WHEN unitprice > 100 THEN N'high' 
        ELSE N'normal' 
    END AS pricetype
FROM Production.Products
WHERE categoryid = 1;

2. <b><u>Utilizando utilizando Tablas Derivadas</u></b>

2.1. Escribir una sentencia SELECT contra una tabla derivada y retornar las columnas productid y productname. Filtrar los resultados para incluir solo las filas en las cuales el valor de la columna pricetype es igual a high. Usar la sentencia SELECT del ejericio 1, paso 4, como la la consulta inner que define la tabla derivada. No olvidar usar el alias para la tabla derivada. (Ypuede usar el alias “p”.)

In [1]:
SELECT p.productid, p.productname
FROM (
    SELECT productid, productname, supplierid, unitprice, discontinued,
           CASE WHEN unitprice > 100 THEN N'high' ELSE N'normal' END AS pricetype
    FROM Production.Products
    WHERE categoryid = 1
) AS p
WHERE p.pricetype = 'high';

: Msg 208, Level 16, State 1, Line 1
El nombre de objeto 'Production.Products' no es válido.

2.2. Escribir una sentencia SELECT para devolver la columna custid y dos columnas calculadas:
totalsalesamount, la cual retornará el total de ventas por cliente y avgsalesamount, la cual devolvera el monto promedio de ventas de las ordenes por cliente. Para calcular correctamente el monto promedio de ventas de las ordenes por cliente, primero debera calcular el monto total de ventas por orden. Se puede definir una tabla derivada basado en una consulta que enlace las tablas Sales.Orders y Sales.OrderDetails. Usar las columnas custid y orderid de la tabla Sales.Orders y las columnas qty y unitprice de la tabla  Sales.OrderDetails.

In [8]:
SELECT custid, SUM(salesamount) AS totalsalesamount, AVG(salesamount) AS avgsalesamount
FROM (
    SELECT o.custid, o.orderid, od.qty * od.unitprice AS salesamount
    FROM Sales.Orders o
    JOIN Sales.OrderDetails od ON o.orderid = od.orderid
) AS sales
GROUP BY custid;

custid,totalsalesamount,avgsalesamount
23,"11666,90","729,1812"
46,"17825,06","524,2664"
69,"1467,29","104,8064"
29,"836,70","104,5875"
75,"12489,70","624,485"
15,"3810,75","381,075"
9,"23850,95","542,067"
89,"29073,45","726,8362"
3,"7515,35","442,0794"
52,"5042,20","458,3818"
72,"17172,05","660,4634"
66,"7555,60","343,4363"
78,"1947,24","243,405"
32,"19711,13","895,9604"
26,"3172,16","528,6933"
12,"1814,80","164,9818"
35,"23611,58","524,7017"
86,"10653,85","409,7634"
63,"117483,39","1366,0859"
6,"3239,80","231,4142"
55,"16325,15","680,2145"
43,"357,00","178,50"
49,"7603,85","362,088"
67,"12924,40","478,6814"
21,"4438,90","233,6263"
27,"1545,70","154,57"
58,"4242,20","303,0142"
81,"7310,62","562,3553"
64,"2844,10","237,0083"
87,"16617,10","449,1108"
38,"6146,30","267,2304"
7,"19088,00","734,1538"
44,"21282,02","545,6928"
50,"10430,58","613,5635"
1,"4596,20","383,0166"
24,"32555,55","723,4566"
47,"17889,55","511,13"
70,"5735,15","358,4468"
30,"11830,10","455,0038"
18,"1615,90","179,5444"
84,"9937,10","397,484"
10,"22607,70","645,9342"
61,"6973,63","290,5679"
41,"10272,35","331,3661"
90,"3161,35","185,9617"
4,"13806,50","460,2166"
65,"52245,90","735,8577"
79,"4954,00","353,8571"
19,"15033,66","715,8885"
73,"18138,45","1209,23"
25,"28722,71","598,3897"
36,"3063,20","340,3555"
85,"1480,00","148,00"
13,"100,80","50,40"
62,"30226,10","755,6525"
42,"522,50","65,3125"
5,"26968,15","518,6182"
56,"13157,50","453,7068"
76,"24704,40","633,4461"
59,"26259,95","1141,7369"
82,"1571,20","174,5777"
33,"1488,70","372,175"
39,"31745,75","813,9935"
16,"1719,10","245,5857"
88,"6480,70","341,0894"
53,"649,00","108,1666"
45,"3490,02","349,002"
2,"1402,95","140,295"
48,"4258,60","304,1857"
71,"115673,39","997,1843"
77,"3361,00","480,1428"
17,"3763,21","376,321"
31,"8702,23","458,0121"
60,"5317,10","531,71"
83,"16643,80","536,8967"
34,"34101,15","1065,6609"
40,"1992,05","181,0954"
11,"6089,90","276,8136"
54,"3460,20","314,5636"
91,"3531,95","220,7468"
20,"113236,68","1110,1635"
68,"20033,20","667,7733"
80,"10812,15","372,8327"
28,"7151,55","357,5775"
74,"2423,35","403,8916"
14,"12886,30","585,7409"
37,"57317,39","1042,1343"
8,"5297,80","882,9666"
51,"32203,90","1006,3718"

3. <b><u>Utilizando Expresions Comunes de Tabla</u></b>

3.1. Escribir una sentencia SELECT como la del ejercicio 2.1, pero utilizar un CTE en vez de una tabla derivada.
Utilizar un alias de columna en linea en la consulta CTE y nombrar al CTE como ProductBeverages.

In [9]:
WITH ProductBeverages(productid, productname, supplierid, unitprice, discontinued, pricetype) AS (
    SELECT productid, productname, supplierid, unitprice, discontinued,
           CASE WHEN unitprice > 100 THEN N'high' ELSE N'normal' END
    FROM Production.Products
    WHERE categoryid = 1
)
SELECT productid, productname
FROM ProductBeverages
WHERE pricetype = 'high';

productid,productname
38,Product QDOMO

3.2. Escribir una consulta SELECT contra la tabla Sales.OrderValues para traer cada customer’s ID y el monto total de ventaspara el año 2008. Definir un CTE llamado c2008 basado en esta consulta, utilizando la forma de alias externapara nombrar las columnas del CTE como custid y salesamt2008. Enlazar la tabla Sales.Customers y el CTE c2008, devolviendo las columnas custid y contactname de la tabla Sales.Customers y la columna 
salesamt2008 desde el CTE c2008.

In [10]:
WITH c2008 (custid, salesamt2008) AS (
    SELECT custid, SUM(val)
    FROM Sales.OrderValues
    WHERE YEAR(orderdate) = 2008
    GROUP BY custid
)
SELECT c.custid, c.contactname, cv.salesamt2008
FROM Sales.Customers c
JOIN c2008 cv ON c.custid = cv.custid;

custid,contactname,salesamt2008
1,"Allen, Michael",2250.50
2,"Hassall, Mark",514.40
3,"Peoples, John",660.00
4,"Arndt, Torsten",5604.75
5,"Higginbotham, Tom",6754.16
6,"Poland, Carole",2160.00
7,"Bansal, Dushyant",730.00
8,"Ilyina, Julia",224.00
9,"Raghav, Amritansh",6680.61
10,"Bassols, Pilar Colome",11338.56
11,"Jaffe, David",2431.00
12,"Ray, Mike",1576.80
14,"Jelitto, Jacek",4158.26
15,"Richardson, Shawn",513.75
16,"Birkby, Dana",931.50
17,"Jones, TiAnna",2809.61
18,"Rizaldy, Arif",860.10
19,"Boseman, Randall",9296.69
20,"Kane, John",41210.65
24,"San Juan, Patricia",13644.07
25,"Carlson, Jason",5078.74
26,"Koch, Paul",2252.06
27,"Schmöllerl, Martin",1296.00
28,"Cavaglieri, Giorgio",57.80
29,"Kolesnikova, Katerina",207.50
30,"Shabalin, Rostislav",6870.21
31,"Cheng, Yao-Qiang",405.35
32,"Krishnan, Venky",9942.14
34,"Cohen, Shy",23821.20
35,"Langohr, Kris",6043.20
37,"Crăciun, Ovidiu V.",20402.12
38,"Lee, Frank",2684.60
39,"Song, Lolan",19582.78
40,"De Oliveira, Jose",1992.05
41,"Litton, Tim",1259.91
42,"Steiner, Dominik",187.00
44,"Louverdis, George",3079.91
45,"Sunkammurali, Krishna",1378.07
46,"Dressler, Marlies",5507.32
47,"Lupu, Cornel",9117.10
48,"Szymczak, Radosław",1709.40
49,"Duerr, Bernard",1580.50
50,"Mace, Donald",4439.08
52,"Dupont-Roc, Patrice",245.00
53,"Mallit, Ken",45.00
54,"Tiano, Mike",3031.00
55,"Egelund-Muller, Anja",5026.29
56,"Marinova, Nadejda",2737.28
58,"Fakhouri, Fadi",1496.00
59,"Meston, Tosh",3790.00
60,"Uppal, Sunil",2633.90
61,"Florczyk, Krzysztof",1353.60
62,"Misiec, Anna",6373.83
63,"Veronesi, Giorgio",37217.32
64,"Gaffney, Lawrie",1694.70
65,"Moore, Michael",21238.27
66,"Voss, Florian",3967.30
67,"Garden, Euan",6998.53
68,"Myrcha, Jacek",4988.86
69,"Watters, Jason M.",726.89
70,"Ginters, Kaspars",3976.75
71,"Navarro, Tomás",36310.11
72,"Welcker, Brian",1630.00
73,"Gonzalez, Nuria",232.09
74,"O’Brien, Dave",2371.00
75,"Wojciechowska, Agnieszka",1117.00
76,"Gulbis, Katrin",11644.60
77,"Osorio, Cristian",69.60
78,"Young, Robin",326.00
79,"Wickham, Jim",910.40
80,"Geschwandtner, Jens",1874.50
81,"Nagel, Jean-Philippe",4234.26
82,"Veninga, Tjeerd",237.90
83,"Fonteneau, Karl",4284.00
84,"Tuntisangaroon, Sittichai",2576.45
86,"Syamala, Manoj",1485.80
87,"Ludwig, Michael",270.00
88,"Li, Yan",1135.25
89,"Smith Jr., Ronaldo",15278.90
90,"Larsson, Katarina",1987.00
91,"Conn, Steve",1865.10

4. <b><u>Utilizando Funciones de Tabla en línea</b></u>

4.1. Escribir una sentencia SELECT contra la vista Sales.OrderValues y traer la las columnas custid y totalsalesamount como un total de la columna val. Filtrar los resultados para incluir las ordenes solo del año 2007.

In [16]:
SELECT custid, SUM(val) AS totalsalesamount
FROM Sales.OrderValues
WHERE YEAR(orderdate) = 2007
GROUP BY custid;

custid,totalsalesamount
1,2022.50
2,799.75
3,5960.78
4,6406.90
5,13849.02
6,1079.80
7,7817.88
8,3026.85
9,11208.36
10,7630.25
11,3179.50
12,238.00
14,6516.40
15,1128.00
16,787.60
17,420.00
18,487.00
19,4514.35
20,48096.27
21,3127.13
23,11666.90
24,13314.67
25,11829.79
26,920.10
27,249.70
28,5065.33
29,493.20
30,3458.35
31,8008.79
32,8565.32
33,387.50
34,6022.77
35,13482.74
36,2283.20
37,20454.41
38,2560.50
39,9664.21
41,6923.87
42,335.50
43,357.00
44,13076.13
45,1698.40
46,5175.20
47,7359.48
48,1837.20
49,4695.88
50,5297.00
51,23332.31
52,3596.40
53,604.00
54,429.20
55,5475.38
56,8254.28
58,2065.40
59,9305.58
60,1409.20
61,3502.41
62,10132.77
63,61109.92
64,1149.40
65,19383.75
66,3000.84
67,4283.78
68,11864.42
70,700.00
71,57713.58
72,9021.25
73,16232.41
74,52.35
75,2475.00
76,6137.48
77,2955.40
78,1621.24
79,2004.34
80,5523.35
81,1320.40
82,1333.30
83,8960.13
84,5807.12
85,379.80
86,4262.83
87,12262.94
88,4415.15
89,9146.51
90,1174.35
91,1207.85

4.2. Definir una función de valores de tabla (TVF) en linea utilizando el siguiente encabezado de función y añadir la consulta previa despues de la clausula RETURN:
Modificar la consulta constante año valor 2007 en la clausula WHERE con el parametro @orderyear.

In [17]:
CREATE FUNCTION dbo.fnGetSalesByCustomer
(@orderyear AS INT)
RETURNS TABLE
AS
RETURN
    SELECT custid, SUM(val) AS totalsalesamount
    FROM Sales.OrderValues
    WHERE YEAR(orderdate) = @orderyear
    GROUP BY custid;

: Msg 2714, Level 16, State 3, Procedure fnGetSalesByCustomer, Line 1
Ya hay un objeto con el nombre 'fnGetSalesByCustomer' en la base de datos.

4.3. Escribir una sentencia SELECT que devuelva el top 3 de los productos vendidos basado en el valor de total de ventas para el cliente con el ID 1. Devolver las columnas productid y productname de la tabla Production.Products. Utilizar las columnas qty y unitprice de la tabla Sales.OrderDetails para calcular el valor de cada linea de la orden, y devolver la suma de todos los valores por producto, nombrando la columna resultante totalsalesamount. Filtrar los resultados para incluir solo las filas donde el valor de la columna custid es igual a 1.

In [18]:
SELECT TOP 3 
    p.productid, 
    p.productname, 
    SUM(od.qty * od.unitprice) AS totalsalesamount
FROM Sales.OrderDetails od
JOIN Sales.Orders o ON od.orderid = o.orderid
JOIN Production.Products p ON od.productid = p.productid
WHERE o.custid = 1
GROUP BY p.productid, p.productname
ORDER BY totalsalesamount DESC;

productid,productname,totalsalesamount
63,Product ICKNK,"878,00"
59,Product UKXRI,"825,00"
28,Product OFBNT,"775,20"

4.4. Crear una funncion (TVF) basada en el siguiente encabezado, utilizando la sentencia  SELECT previa. Reemplazar la constante custid valor 1 en la consulta con el parametro de la funcion @custid:

In [19]:
CREATE FUNCTION dbo.fnGetTop3ProductsForCustomer
(@custid AS INT)
RETURNS TABLE
AS
RETURN
    SELECT TOP 3 
        p.productid, 
        p.productname, 
        SUM(od.qty * od.unitprice) AS totalsalesamount
    FROM Sales.OrderDetails od
    JOIN Sales.Orders o ON od.orderid = o.orderid
    JOIN Production.Products p ON od.productid = p.productid
    WHERE o.custid = @custid
    GROUP BY p.productid, p.productname
    ORDER BY totalsalesamount DESC;

4.5. Probar la función SELECT creada escribiendo  una sentencia con esta y utilizar el valor para el parametro customer ID. Traer las columnas productid, productname y totalsalesamount, y utilizar el alias “p” para la función TVF.

In [20]:
SELECT 
    p.productid, 
    p.productname, 
    p.totalsalesamount
FROM dbo.fnGetTop3ProductsForCustomer(1) AS p;

productid,productname,totalsalesamount
63,Product ICKNK,"878,00"
59,Product UKXRI,"825,00"
28,Product OFBNT,"775,20"

4.6. Escribir el código necesario para limpiar todos los cambios realizados

In [21]:
-- Eliminar la vista creada
DROP VIEW IF EXISTS Production.ProductsBeverages;

-- Eliminar la función TVF de ventas por cliente
DROP FUNCTION IF EXISTS dbo.fnGetSalesByCustomer;

-- Eliminar la función TVF de top 3 productos por cliente
DROP FUNCTION IF EXISTS dbo.fnGetTop3ProductsForCustomer;